{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row">
<h2 class="text-center">Cart <b class="text-primary">Items</b></h2>
<div class="col-sm-12">
 <table class="table table-stripted">
	  <tr>
     <th>Product ID</th>
	 <th>Picture</th>
	 <th>Product name</th>
	 <th>Product Cat</th>
	 <th>Description</th>
	 <th>Total Price</th>
	 <th>Discount Price</th>
	 <th>Remove</th>
	 <th>Order</th>
	  </tr>
      {% if cart %}
	  {% for x in cart %}
	  <tr>
	   <td>{{x.1}}</td>
	   <td><img src="../{{x.7}}" class="img-thumbnail" style="height:100px;width:150px;"/></td>
	   <td>{{x.6}}</td>
	   <td>{{x.12}}</td>
	   <td>{{x.11}}</td>
	   <td><i class="btn btn-outline-danger text-dark"><s>{{x.9}}</s></i></td>
	   <td><i class="btn btn-outline-warning text-dark"><s>{{x.10}}</s></i></td>
	   <td><a href="/user/cart?pid={{x.0}}" class="btn btn-warning">Remove Item</a></td>
	   <td><a href="/user/process?pid={{x.1}}&bn=orderfromcart" class="btn btn-primary">Order Now</a></td>	   
	  </tr>
	 {% endfor %}
	 {% endif %}
 </table>
</div>
</div>
{% endblock %}