
{% extends 'base.html' %}
{% load static %}
{% block content%}
<style>
.form-control
{
margin:5px;
}
.t
{
background:#e8f0fe;
}
</style>
<div class="row p-3 t">
<div class="h2 text-center">Sing <b class="text-warning">Up<i class="fa fa-users"></i></b></div>
<div class="col-sm-4"></div>
<div class="col-sm-4 p-4 bg-warning">
<form method="post" enctype="multipart/form-data">
     {% csrf_token %}
	     Name<input type="text" name="name"  required class="form-control" placeholder="Enter Your Name.."/>
                Mobile<input type="number" name="mobile"  required class="form-control" placeholder="Enter Your Mobile.."/>
                Email<input type="email" name="email"  required class="form-control" placeholder="Enter Your Email.."/>
                Password
				<input type="password" name="passwd" required class="form-control" placeholder="Enter your Password..."/>
				Profile<input type="file" name="fu"  required class="form-control"/>
				Address
                <textarea class="form-control" name="address" style="min-height:80px;resize:none;" placeholder="Enter Your Message.." required ></textarea>
                <input type="submit" value="Save" class="btn btn-light m-2"class="form-control"/>     
</form>
</div>
<div class="col-sm-4"></div>
</div>
{% endblock %}